h1 {
    color: #6B48FF;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h2 {
    color: #0D3F67;
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-family: 'Ubuntu', sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1EE3CF;
    color: #0D3F67;
    padding: 20px;
}

.ova {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #6B48FF;
}

.separador {

    background-color: #6B48FF;
    padding: 2px;
}

ul {
    list-style: none;
}

.botonera {
    background-color: #4B4B4D;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.botonera>li {
    float: left;
}

.botonera li a {
    background-color: #4B4B4D;
    color: white;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

.botonera li a:hover {
    background-color: #6B48FF;
}

.botonera li ul {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

.botonera li:hover>ul {
    display: block;
}

.botonera li ul li {
    position: relative;
}

.botonera li ul li ul {
    right: 140px;
}

.cuerpo {
    background-color: #E6E6E6;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lateral {

    background-color: white;
    padding: 15px;
    grid-column: 4/5;
}

.seccion {

    background-color: #E6E6E6;
    padding: 40px;
    grid-column: 1/4;
}

.pie {

    text-align: center;
    background-color: #4B4B4D;
    color: white;
    padding: 1px;
}

.imagen {
    padding: 3px;
    font: 11px/1.4em Arial, sans-serif;
    text-align: center;
}

.derecha {
    margin: 0.5em 0pt 0.5em 0.8em;
    float: right;
}

.izquierda {
    margin: 0.5em 0.8em 0.5em 0;
    float: left;
}

.parrafo{
    font: 19px/1.4em  'Zilla Slab', serif;
    text-align: justify;
}